@model dynamic

<link href="~/css/sidebar.css" rel="stylesheet" />


<aside class="list-group">

    <p class="list-group-item">Opțiuni </p>
    <div>

        @if (User.IsInRole("Administrators"))
        {
            <a asp-action="Index" asp-controller="ReqHistory" class="list-group-item">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                Istoric
            </a>
        }
        else
        {
            <a asp-action="Index" asp-controller="ReqHistory" class="list-group-item">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                Istoricul meu
            </a>
        }

        <a asp-action="Index" asp-controller="Manage" class="list-group-item">
            <i class="fa fa-sliders"></i>
            Setări profil
        </a>
        @if (User.IsInRole("Administrators"))

        {

            <a asp-action="Create" asp-controller="Requests" class="list-group-item">
                <i class="fa fa-plus"></i>
                Adaugă o nouă cerere
            </a>
            <a asp-action="Index" asp-controller="Persons" class="list-group-item">
                <i class="fa fa-list"></i>
                Lista persoanelor
            </a>
            <a asp-action="Index" asp-controller="Addresses" class="list-group-item">
                <i class="fa fa-list"></i>
                Lista adreselor
            </a>
            <a asp-action="Index" asp-controller="Categories" class="list-group-item">
                <i class="fa fa-list"></i>
                Lista categoriilor
            </a>
        }

    </div>
    <br />
    <p class="list-group-item">Filtrare după categorii</p>
    <div class="list-group-item">

        <form asp-controller="Requests" asp-action="Index" method="post">

            @foreach (Category item in Model.Categories)
            {
                <div class="form-check">
                    <input type="radio" name="ID" id="ID" value="@item.ID" asp-for="@item.ID" class="form-check-input">
                    <label asp-for="@item.ID" class="form-check-label" for="examplecheck">@item.Name</label>
                    <input type="hidden" asp-for="@item.ID" />
                </div>
            }
            <br />
            <input type="submit" class="btn btn-outline-dark" value="Filtrează cererile" id="filterByCategory">
        </form>
    </div>
</aside>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    //pastrarea categoriei selectate dupa submit
    $(function () {
        $("input[type=\"radio\"]").click(function () {
            var thisElem = $(this);
            var value = thisElem.val();
            localStorage.setItem("option", value);
        });
        var itemValue = localStorage.getItem("option");
        if (itemValue !== null) {
            $("input[value=\"" + itemValue + "\"]").click();
        }
    });

</script>



