@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> _userManager;

@model IEnumerable<BKind.Models.ReqHistory>


@{
    ViewData["Title"] = "Index";
}


<link href="~/css/sidebarReqHistory.css" rel="stylesheet" />


@if (!Model.Any())
{

    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <p class="card-title">Nu există cereri adăugate în istoricul tău.</p>

        </div>
    </div>
    <br />

    <a asp-action="Index" asp-controller="Requests">Click aici pentru a vizualiza lista cererilor.</a>

}
else
{
    if (User.IsInRole("Administrators"))
    {
        <div class="row pt-5">
            <div class="main">
                @{ var requestCount = 0;}

                @foreach (var item in Model)
                {
                    if (item.UserId == _userManager.GetUserId(User)) { 

                    <div class="card border-dark mb-3" style="width: 30rem;">
                        <div class="card-header" style="background-color:white;">
                            @item.Title

                            <a asp-controller="Requests" asp-action="Delete" asp-route-id="@item.RequestId" class="btn btn-sm btn-light" style="float: right;">
                                <i class="fa fa-trash"></i>
                            </a>

                        </div>

                        <div class="card-body text-dark">
                            <img class="imageThumbnail" src="~/images/@item.ImagePath" asp-append-version="true" alt="image" height="200" width="440" />

                            <p class="card-text">
                                <br />
                                @item.Description
                            </p>

                            <a asp-controller="Requests" asp-action="Details" asp-route-id="@item.RequestId" class="btn btn-sm btn-light">
                                <i class="fa fa-sun-o" style="color:gold"></i>
                                Detalii
                            </a>
                            <a asp-controller="Requests" asp-action="Edit" asp-route-id="@item.RequestId"  class="btn btn-sm btn-light">Editează</a>
                           

                            <form asp-controller="ReqHistory" asp-action="RemoveReqFromHistory" asp-route-id="@item.RequestId" method="post">

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: crimson; float:right;">
                                    Elimină
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Eliminare cerere</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Sigur vrei să elimini cererea din istoric?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Anulează</button>

                                                <button type="submit" class="btn btn-sm btn-danger" style="background-color: crimson;">
                                                    Elimină
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                        ++requestCount;

                    }
                }
            </div>


            <div class="sidenav">

                <aside class="list-group" style="border: 1px solid black;">
                    <p class="list-group-item" style="background-color:lightpink; text-align:center">Ai îndeplinit</p>
                    <div style="font-size:70px; text-align:center;">
                        @requestCount
                    </div>
                    <p style="font-size: 35px; text-align:center"> cereri</p>
                </aside>

            </div>
        </div>
    }

    else
    {
        <div class="row pt-5">
            <div class="main">
                @{ var requestCount = 0;}

                @foreach (var item in Model)
                {
                    //personalizarea istoricului de cereri

                    if (item.UserId == _userManager.GetUserId(User))
                    {

                    <div class="card border-dark mb-3" style="width: 30rem;">
                        <div class="card-header" style="background-color:white;">
                            @item.Title
                        </div>

                        <div class="card-body text-dark">
                            <img class="imageThumbnail" src="~/images/@item.ImagePath" asp-append-version="true" alt="image" height="200" width="440" />

                            <p class="card-text">
                                <br />
                                @item.Description
                            </p>

                            <a asp-controller="Requests" asp-action="Details" asp-route-id="@item.RequestId" class="btn btn-sm btn-light">
                                <i class="fa fa-sun-o" style="color:gold"></i>
                                Detalii
                            </a>


                            <form asp-controller="ReqHistory" asp-action="RemoveReqFromHistory" asp-route-id="@item.RequestId" method="post">


                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: crimson; float:right;">
                                    Elimină
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Eliminare cerere</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Sigur vrei să elimini cererea din istoric?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Anulează</button>

                                                <button type="submit" class="btn btn-sm btn-danger" style="background-color: crimson;">
                                                    Elimină
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                        ++requestCount;

                    }
                }

            </div>


            <div class="sidenav">

                <aside class="list-group" style="border: 1px solid black;">
                    <p class="list-group-item" style="background-color:lightpink; text-align:center">Ai îndeplinit</p>
                    <div style="font-size:70px; text-align:center;">
                        @requestCount
                    </div>
                    <p style="font-size: 35px; text-align:center"> cereri</p>
                </aside>

            </div>

        </div>
    }

}

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>