@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> _userManager;

@model IEnumerable<BKind.Models.ReqHistory>


@{
    ViewData["Title"] = "Index";
}


<link href="~/css/sidebarReqHistory.css" rel="stylesheet" />


@if (!Model.Any())
{

    <div class="card" style="width: 25rem;">
        <div class="card-body">

            @if (User.IsInRole("Administrators"))
            {
                <p class="card-title">Nu există cereri selectate de utilizatori.</p>

            }
            else
            {
                <p class="card-title">Nu există cereri adăugate în istoricul tău.</p>

            }

        </div>
    </div>
    <br />

    <a asp-action="Index" asp-controller="Requests">Click aici pentru a vizualiza lista cererilor.</a>

}
else
{
    if (User.IsInRole("Administrators"))
    {
        <div class="row pt-3">
            <div class="main">
                @{ var requestCount = 0;}

                @foreach (var item in Model.OrderByDescending(x => x.DateAdded)) //ordonarea cererilor cronologic
                {
                    <div class="card border-dark mb-3" style="width: 30rem;">
                        <div class="card-header" style="background-color:white;">
                           ID Cerere: @item.RequestId <br />
                           Titlu cerere: @item.Title <br />
                           ID User:<a asp-action="UserManagement" asp-controller="Admin"> @item.UserId </a><br />
                           Cerere salvată la: @item.DateAdded <br />
                         
                          
                            <a asp-controller="Requests" asp-action="Delete" asp-route-id="@item.RequestId" class="btn btn-sm btn-light" style="float: right; background-color:crimson;">
                                <i class="fa fa-trash"></i>
                            </a>

                        </div>

                        <div class="card-body text-dark">
                            <img class="imageThumbnail" src="~/images/@item.ImagePath" asp-append-version="true" alt="image" height="200" width="440" />

                            <p id="Description" class="card-text">
                                <br />
                                @item.Description
                            </p>

                            <a asp-controller="Requests" asp-action="Details" asp-route-id="@item.RequestId" class="btn btn-sm btn-light">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                Detalii
                            </a>
                            <a asp-controller="Requests" asp-action="Edit" asp-route-id="@item.RequestId" class="btn btn-sm btn-light">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Editează
                            </a>
                           

                            <form asp-controller="ReqHistory" asp-action="RemoveRequestFromUser" method="post">

                                <input type="hidden" id="requestID" name="requestID" asp-for="@item.RequestId" />
                                <input type="hidden" id="userID" name="userID" asp-for="@item.UserId" />
                                <input type="submit" value="Elimină din istoricul utilizatorului" onclick="return confirm('Sigur vrei să elimini această cerere din istoricul utilizatorului cu ID=@item.UserId?')" class="btn btn-sm" style="background-color: crimson; color:white; float:right;" /> 

                            </form>
                        </div>
                    </div>
                        ++requestCount;

                    
                }
            </div>


            <div class="sidenav">


                <div class="box" style="top:0px;">
                    <div class="container">
                        <div class="row">

                            <div>

                                <div class="box-part text-center">

                                    <i class="fa fa-tasks fa-3x" aria-hidden="true" style="margin-bottom:5px;"></i>

                                    <div class="title">
                                        <h4 style="color:dodgerblue; font-size:20px;"><b>secțiune destinată administratorilor</b></h4>
                                    </div>
                                    <hr />
                                    <div class="text">
                                        <span>Secțiune ce permite vizualizarea cererilor alese de utilizatori, eliminarea acestora din istoricul utilizatorilor și din baza de date a sistemului.</span>

                                    </div>

                                    <a asp-action="Index" asp-controller="Requests" class="btn btn-lg btn-sm btn-outline-dark" style="margin-top:10px;">
                                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                        Înapoi la pagina principală
                                    </a> <br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <aside class="list-group" style="border: 1px solid black; float:right; margin-right:150px;">
                    <p class="list-group-item" style="background-color:lightpink; text-align:center;">Numărul cererilor selectate de utilizatori</p>
                    <div style="font-size:70px; text-align:center;">
                        @requestCount
                    </div>
                    <p style="font-size: 35px; text-align:center"> cereri</p>
                </aside>

            </div>
        </div>
    }

             else
                    {
                    <div class="row pt-3">
                        <div class="main">
                            @{ var requestCount = 0;}

                            @foreach (var item in Model.OrderByDescending(x => x.DateAdded)) //ordonare cronologica
                            {
                                //personalizarea istoricului de cereri

                                if (item.UserId == _userManager.GetUserId(User))
                                {

                                    <div class="card border-dark mb-3" style="width: 30rem;">
                                        <div class="card-header" style="background-color:white;">
                                            @item.Title
                                        </div>

                                        <div class="card-body text-dark">
                                            <img class="imageThumbnail" src="~/images/@item.ImagePath" asp-append-version="true" alt="image" height="200" width="440" />

                                            <p id="Description" class="card-text">
                                                <br />
                                                @item.Description
                                            </p>

                                            <a asp-controller="Requests" asp-action="Details" asp-route-id="@item.RequestId" class="btn btn-sm btn-light">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                Detalii
                                            </a>

                                            <form asp-action="RemoveReqFromHistory" asp-controller="ReqHistory" method="post">
                                                <input id="ID" name="ID" type="hidden" asp-for="@item.RequestId" />
                                                <input type="submit" value="Elimină din istoric" onclick="return confirm('Sigur vrei să elimini această cerere din istoric?')" class="btn btn-sm" style="background-color: crimson; color:white; float:right;" /> 

                                            </form>
                                        </div>
                                    </div>
                                    ++requestCount;

                                }
                            }

                        </div>


                        <div class=" sidenav">

                            <div class="box" style="top:0px;">
                                <div class="container">
                                    <div class="row">

                                        <div>

                                            <div class="box-part text-center">

                                                <i class="fa fa-heart fa-3x" aria-hidden="true" style="color:crimson; margin-bottom:12px;"></i>

                                                <div class="title">
                                                    <h4>Istoricul meu</h4>
                                                    <hr />
                                                    <h5 style="color:lightcoral;"><b>Ne bucurăm că ești alături de semenii tăi!</b></h5>
                                                </div>

                                                <div class="text">
                                                    <span>Ai aici evidența cronologică a cauzelor pe care de-a lungul timpului le-ai sprijinit. </span>
                                                </div>

                                                <a asp-action="Index" asp-controller="Requests" class="btn btn-lg btn-sm btn-outline-dark" style="margin-top:8px;">
                                                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                                    Înapoi la pagina principală
                                                </a> <br />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <aside class="list-group" style="border: 1px solid black;  margin-left:150px; margin-right:160px;">
                                <p class="list-group-item" style="background-color:lightpink; text-align:center">Ai îndeplinit</p>
                                <div style="font-size:70px; text-align:center;">
                                    @requestCount
                                </div>
                                <p style="font-size: 35px; text-align:center"> cereri</p>
                            </aside>

                        </div>

                    </div>
             }

}

                
