@model BKind.ViewModels.RequestDetailsViewModel
@inject SignInManager<AppUser> SignInManager


@{
    ViewData["Title"] = "Detalii";
    var imagePath = "~/images/" + (Model.Request.ImagePath ?? "defaultimage.jpg"); /*daca utilizatorul nu alege o poza, se pune implicit una*/
}

    <div>


        <div style="float:right;" class="col-sm-3">

            <div class="card" style=" width: 12.5rem;">
                <div class="card-body" style="text-align:center; background-color:cornsilk;">
                    <p class="card-title">@Model.Category.Name</p>
                </div>
            </div>

            <br />


            <div class="row">
                <div class="col-sm-10">
                    <div class="card">
                        <div class="card-body">
                            <a asp-action="Index" class="btn btn-lg btn-sm btn-outline-dark" style="margin-bottom:10px;">Lista cererilor</a> <br />

                            @if (User.IsInRole("Administrators"))@*adminii pot realiza operatii CRUD*@
                            {
                                <a asp-action="Edit" class="btn btn-lg btn-sm btn-outline-dark" asp-route-id="@Model.Request.ID">Editează cerere</a> <br /> <br />
                                <a asp-action="Index" asp-controller="ReqHistory" class="btn btn-lg btn-sm btn-outline-dark" style="margin-bottom:10px;">Istoric</a>

                            }
                            else
                            {
                                <a asp-action="Index" asp-controller="ReqHistory" class="btn btn-lg btn-sm btn-outline-dark" style="margin-bottom:10px;">Istoricul meu</a>


                                <form id="form" asp-controller="ReqHistory" asp-action="AddReqToHistory" method="post">

                                    <input type="hidden" id="ID" name="ID" asp-for="@Model.Request.ID" />
                                    <input type="hidden" id="CategoryID" name="CategoryID" asp-for="@Model.Request.CategoryID" />
                                    <input type="hidden" id="Description" name="Description" asp-for="@Model.Request.Description" />
                                    <input type="hidden" id="ImagePath" name="ImagePath" asp-for="@Model.Request.ImagePath" />
                                    <input type="hidden" id="PersonID" name="PersonID" asp-for="@Model.Request.PersonID" />
                                    <input type="hidden" id="Title" name="Title" asp-for="@Model.Request.Title" />
                                    <input id="Save" type="submit" value="Salvează în istoric" class="btn btn-sm btn-warning" style="background-color: gold; color: white;" />
                                </form>

                            
                        }
                        </div>
                    </div>
                </div>

            </div>

            </div>


            <div style="float:left;" class="col-sm-1">
                <div class="card" style="width: 13rem; text-align:center; background-color:gold;">
                    <div class="card-body">
                        <p class="card-title"><h4>Detalii</h4></p>
                    </div>
                </div>

                <br />

                <div class="card" style="width: 13rem;">
                    <div class="card-header">
                        <p class="card-title" style="text-align:center;">Adresa</p>
                    </div>
                    <div class="card-body" style="font-size:15px;">
                        Localitate/Oraș: <br /> @Model.Address.City <br />
                        Strada: <br /> @Model.Address.Street <br />
                        Număr:  @Model.Address.Number
                    </div>
                </div>

                <br />

                <div class="card" style="width: 13rem;">
                    <div class="card-header">
                        <p class="card-title" style="text-align:center;">Informații persoană</p>
                    </div>
                    <div class="card-body" style="font-size:15px;">
                        Prenume: @Model.Person.FirstName <br />
                        Nume: @Model.Person.LastName <br />
                        Data nașterii: @Model.Person.DateOfBirth.Date
                       
                    </div>
                </div>
            </div>


            <dl class="row">
                <dt class="col-sm-2">
                </dt>
                <dd class="col-sm-10">
                    <img style="display: block; margin-left: auto; margin-right: auto; width: 95%; height:95%;" class="imageThumbnail" src="@imagePath" asp-append-version="true" alt="image" height="220" width="405" />

                </dd>

                <dd style="text-align:right;" class="col-sm-10">
                    @Model.Request.Title
                </dd>

                <dd style="margin: auto;width: 50%; height:50%; border: 2px solid gold;padding: 10px;">
                    <div class="card" style="width: 32rem; text-align:center;">
                        <div class="card-body">
                            <p class="card-title">
                                @Model.Request.Description
                            </p>
                        </div>
                    </div>
                </dd>

            </dl>
        </div>




