@model IEnumerable<BKind.Models.Request>

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


@{
    ViewData["Title"] = "Index";

}

<link href="~/css/sidebar.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="row pt-5">

    <div class="col-sm-3" style="background-color:white">
        <aside class="list-group">

            <p class="list-group-item" style="background-color:ghostwhite">Opțiuni </p>
            <div>

                <a asp-action="Index" asp-controller="ReqHistory" class="list-group-item">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    Istoricul meu
                </a>
                <a asp-action="Index" asp-controller="Manage" class="list-group-item">
                    <i class="fa fa-sliders"></i>
                    Setări profil
                </a>
                @if (User.IsInRole("Administrators"))

                {

                    <a asp-action="Create" asp-controller="Requests" class="list-group-item">
                        <i class="fa fa-plus"></i>
                        Adaugă o nouă cerere
                    </a>
                    <a asp-action="Index" asp-controller="Persons" class="list-group-item">
                        <i class="fa fa-list"></i>
                        Lista persoanelor
                    </a>
                    <a asp-action="Index" asp-controller="Addresses" class="list-group-item">
                        <i class="fa fa-list"></i>
                        Lista adreselor
                    </a>
                    <a asp-action="Index" asp-controller="Categories" class="list-group-item">
                        <i class="fa fa-list"></i>
                        Lista categoriilor
                    </a>


                }

            </div>
            <br />
            <p class="list-group-item" style="background-color:ghostwhite">Filtrare după categorii</p>
            <div class="list-group-item">


                @foreach (var item in Model)
                {

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">@item.Category.Name</label>
                    </div>

                }

                <br />
                <button type="button" class="btn btn-outline-dark">Filtrează cererile</button>
            </div>


        </aside>
    </div>

    <div class="col-sm-7">

        @if (!Model.Any())
        {

            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <p class="card-title">Nu au fost găsite rezultate pentru căutarea ta.</p>
                </div>
            </div>
            <br />

            <a asp-action="Index">Click aici pentru a te întoarce</a>

        }
        else
        {

            if (User.IsInRole("Administrators"))
            {

                foreach (var item in Model)
                {

                    <div class="card border-dark mb-3" style="width: 30rem;">
                        <div class="card-header" style="background-color: ghostwhite ">
                            @item.Title
                        </div>

                        <div class="card-body text-dark">
                            <img class="imageThumbnail" src="~/images/@item.ImagePath" asp-append-version="true" alt="image" height="200" width="440" />

                            <p class="card-text">
                                <br />
                                @item.Description
                            </p>

                            <a asp-action="Details" asp-route-id="@item.ID" type="button" class="btn btn-light">
                                <i class="fa fa-sun-o" style="color:gold"></i>
                                Detalii
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.ID" type="button" class="btn btn-light">Editează</a>
                            <a asp-action="Delete" asp-route-id="@item.ID" type="button" class="btn btn-light">
                                <i class="fa fa-trash"></i>
                            </a>

                            <button id="Save" type="button" class="btn btn-warning">Salvează</button>

                        </div>
                    </div>

                }


            }
            else
            {
                foreach (var item in Model)
                {
                    <form method="post">
                        <div class="card border-dark mb-3" style="max-width: 30rem;">

                            <div id="RequestId" hidden>@item.ID</div>
                            <div id="CategoryId" hidden>@item.CategoryID</div>
                            <div id="PersonId" hidden>@item.PersonID</div>
                            <div id="ImagePath" hidden>@item.ImagePath</div>

                            <div id="Title" class="card-header">
                                @item.Title
                            </div>

                            <div class="card-body text-dark">
                                <img class="imageThumbnail" src="~/images/@item.ImagePath" asp-append-version="true" alt="image" height="200" width="440" />


                                <p id="Description" class="card-text">
                                    <br />
                                    @item.Description
                                </p>


                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-light">
                                    <i class="fa fa-sun-o" style="color:gold"></i>
                                    Detalii
                                </a>

                                <input id="Save" type="submit" value="Salvează" class="btn btn-warning" />
                                <input id="Remove" type="submit" value="Elimină" class="btn btn-danger" />

                            </div>
                        </div>
                    </form>
                }
            }
        }
    </div>

    @*right side*@
    @*<div class="col-sm-3" >
            <aside class="list-group">

                <p class="list-group-item" style="background-color:ghostwhite">Opțiuni</p>
            </aside>
        </div>*@

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*cod jquery pt a afisa un mesaj ca cererea a fost adaugata la istoric*@

<script type="text/javascript">

        $(document).ready(function () {
            $('#Save').on("click", function () {

                //var t = $("input[name='__RequestVerificationToken']").val();

                var requestId = $('#RequestId').val();
                var title = $('#Title').val();
                var categoryId = $('#CategoryId').val();
                var personId = $('#PersonId').val();
                var description = $('#Description').val();
                var imagePath = $('#ImagePath').val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddReqToHistory","ReqHistory")",

                    data: {
                        "RequestId": requestId, "CategoryId": categoryId, "PersonId": personId,
                        "Title": title, "Description": description, "ImagePath": imagePath},
                    dataType: "text",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    succes: function (data) { },
                    error: function () { }
                });

                //    $('#Save').hide();
                //    $('#Eliminate').show();
                //    $('#Info').toggle();
                //});

                //$('#Eliminate').on("click", function () {
                //    $('#Eliminate').hide();
                //    $('#Save').show();
                //    $('#Info').toggle();
                //});
            });
        });

</script>



}
