@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> _userManager;

@model dynamic

@{
    ViewData["Title"] = "Acasă";

}

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="row pt-3">

    @*introducerea partial view-ului*@
    <div class="col-sm-3" style="background-color:white;">
        <partial name="_SidebarPartial" />
    </div>

    <div class="col-sm-6">

        @if (Model.Requests == null)
        {

            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <p class="card-title">Nu au fost găsite rezultate pentru căutarea ta.</p>
                </div>
            </div>
            <br />

            <a asp-action="Index">Click aici pentru a te întoarce</a>

        }
        else
        {

            if (User.IsInRole("Administrators"))
            {

                foreach (Request item in Model.Requests)
                {
                    <div class="card border-dark mb-3" style="width: 30rem;">

                        <form id="form" asp-controller="ReqHistory" asp-action="AddReqToHistory" method="post">

                            <input type="hidden" id="ID" name="ID" asp-for="@item.ID" />
                            <input type="hidden" id="CategoryID" name="CategoryID" asp-for="@item.CategoryID" />
                            <input type="hidden" id="Description" name="Description" asp-for="@item.Description" />
                            <input type="hidden" id="ImagePath" name="ImagePath" asp-for="@item.ImagePath" />
                            <input type="hidden" id="PersonID" name="PersonID" asp-for="@item.PersonID" />
                            <input type="hidden" id="Title" name="Title" asp-for="@item.Title" />


                            <div class="card-header" style="background-color: white;">
                                @item.Title

                                <a asp-controller="Requests" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-light" style="float: right; background-color:crimson;">
                                    <i class="fa fa-trash"></i>
                                </a>

                            </div>

                            <div class="card-body text-dark">
                                <img class="imageThumbnail" src="~/images/@item.ImagePath" asp-append-version="true" alt="image" height="200" width="440" />

                                <p id="Description" class="card-text">
                                    <br />
                                    @item.Description
                                </p>

                                <a asp-controller="Requests" asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-light">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    Detalii
                                </a>
                                <a asp-controller="Requests" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-light">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Editează
                                </a>

                            </div>

                        </form>
                    </div>
                }


            }
            else
            {
                foreach (Request item in Model.Requests)
                {
                    <div class="card border-dark mb-3" style="max-width: 30rem;">

                        <form asp-controller="ReqHistory" asp-action="AddReqToHistory" method="post">

                            <input type="hidden" id="ID" name="ID" asp-for="@item.ID" />
                            <input type="hidden" id="CategoryID" name="CategoryID" asp-for="@item.CategoryID" />
                            <input type="hidden" id="Description" name="Description" asp-for="@item.Description" />
                            <input type="hidden" id="ImagePath" name="ImagePath" asp-for="@item.ImagePath" />
                            <input type="hidden" id="PersonID" name="PersonID" asp-for="@item.PersonID" />
                            <input type="hidden" id="Title" name="Title" asp-for="@item.Title" />


                            <div id="Title" class="card-header" style="background-color:white;">
                                @item.Title

                                <input id="Save" type="submit" value="Salvează în istoric" class="btn btn-sm btn-warning" style="background-color:gold; color:white; float:right;" />

                            </div>

                            <div class="card-body text-dark">
                                <img class="imageThumbnail" src="~/images/@item.ImagePath" asp-append-version="true" alt="image" height="220" width="440" />


                                <p id="Description" class="card-text">
                                    <br />
                                    @item.Description
                                </p>

                            </div>
                        </form>

                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-light">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            Detalii
                        </a>

                    </div>

                }
            }
        }
    </div>
    <div class="col-sm-3">
        <aside class="list-group" style="background-color:white;">

            @foreach (var appUser in Model.Users)
            {
                //personalizare pagina principala
                if (appUser.Id == _userManager.GetUserId(User))
                {
                    <p class="list-group-item" style="background-color:white;"><i class="fa fa-user-circle-o fa-2x" style="margin-bottom:10px; color:dimgrey"></i><br /><b style="color:dimgray;">@appUser.FirstName, bine ai venit!</b></p>
                }
            }

            @*privilegii de administrator*@
            @if (User.IsInRole("Administrators"))
            {

                <p class="list-group-item" style="background-color:gainsboro;"><i class="fa fa-key fa-2x" style="margin-bottom:10px;"></i><br /><b style="color:dodgerblue">privilegii de administrator</b></p>
                <hr />
                <a class="list-group-item" asp-controller="Admin" asp-action="UserManagement">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Gestionare utilizatori
                </a>
                <a class="list-group-item" asp-controller="Admin" asp-action="RoleManagement">
                    <i class="fa fa-superpowers" aria-hidden="true"></i>
                    Gestionare roluri
                </a>
            }
        </aside>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

